@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 15px rgb(0 0 0 / 20%);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 350px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 350px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.logo-main {
  display: block;
  margin: 0 auto;
  margin-bottom: 82px;
  background-image: url("../images/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
}

.catalog-column {
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
}

.found {
  width: 340px;
  margin-right: 195px;
}

.sorting-type {
  width: 290;
  margin-right: 85px;
}

.view {
  width: 160px;
  margin-right: 75px;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}
.footer-social{
  display: flex;
  flex-wrap: wrap;
  width: 240px;
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.footer-contacts{
  width: 720px;
  margin-left: auto;
}

.footer-logo {
  width: 240px;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
}

.subscribes {
  background-image: url("../images/background_blur.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.inner-header {
  background-image: url("../images/catalog_background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.inner-header-title {
  font-family: inherit;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  text-align: left;
  color: #FFFFFF;
}

.breadcrumbs-link {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
  color: #FFFFFF;
}

.catalog-products {
  display: flex;
  flex-direction: row;
}

.infrastructure {
  width: 150;
  margin-right: 70px;
}

.type {
  width: 150;
  margin-right: 216px;
}

.price {
  width: 530;
  margin-right: 75px;
}

.list-filter-title {
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: left;
  color: #FFFFFF;
}

.control-label {
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-align: left;
  color: #FFFFFF;
}


.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
}
.button-search {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
}

.button-blue,
.pagination-link,
.pagination-load-more {
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0 4px 4px 0;
}

.pagination-load-more {
  border-radius: 4px;
}

.button-favorites {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
}

.button-elected {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #7DB54F;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
}

.input {
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  border-radius: 4px 0 0 4px;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  list-style: none;
}

.page-header {
  color: #000000;
  background-color: #FFFFFF;
}

.navigation-item{
  display: block;
  padding: 20px 15px;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.main-container{
  flex-grow: 1;
  padding-top: 51px;
}

.main-index {
  background-color: #FFFFFF;
  text-align: center;
  color: #000000;
}
.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
  flex: 1 0 30%;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 25px;
}

.photo-left,
.photo-right {
  width: 800px;
}

.food{
  background-color: #FFFFFF;
}

.advantages-item-road{
  background-color: rgba(131, 179, 211, 0.2);
}

.decoration {
  background-color: #83B3D3;
}

.advantages-white,
.advantages-description-white {
  color: #FFFFFF;
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description-white {
  font-size: 18px;
  line-height: 21px;
  text-transform: none;
}

.advantages-black,
.advantages-description {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  text-transform: none;
  margin: 0;
  margin-bottom: 77px;
}


.advantages-description-white {
  color: #FFFFFF;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: none;
}

.advantages-description {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: none;
}

.title {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  padding: 40px;
}

.advantages-text,
.search-hotel {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  text-transform: none;
}

.found {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  text-align: left;
  text-transform: uppercase;
}

.search-hotel {
  line-height: 26px;
}


.subtitle,
.subtitle-searchhotel {
  color: #FFFFFF;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.subtitle-searchhotel {
  color: #000000;
}

.text,
.text-black {
  font-family: "PT Sans", sans-serif;
  color: #FFFFFF;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  font: inherit;
}
.text-black {
  color: #000000;
}

.footer-contacts-address-phone {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
}

.option-description-title {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-align: left;
  text-decoration: none;
}

.option-description {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: left;
  text-decoration: none;
}

